<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuteba</title>
    <link type="text/css" rel="stylesheet" href="~/Contents/css/login.css" />
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><img src="home.gif" id="logo"></h1>
            <h1>ቁጠባ</h1>
            <nav class="navi">
                @*<input value="Home" id="Home" type="button" />*@
                @*<input value="Sign Up" type="button" id="SignUp" />*@
                <a href="~/login/index">login</a>
                <a href="~/login/signup">SignUp</a>
                <a href="~/Announcement/index">Announcement</a>                
                @*<input value="Announcement" type="button" id="Announcement" />*@
                <input value="About Us" type="button" id="AboutUs" />

            </nav>
        </div>

    </header>

  @RenderBody()

    <footer>
        <h2> Copyright © KUTEBA 2018</h2>
    </footer>

</body>
</html>
