@{
    Layout = "/views/shared/_masterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Contents/css/adminlayout.css" />
    <title></title>
</head>
<body>
    <div>

        

            <ul id="menu">
                <li class="list1">
                    <a href="#">HOME</a>
                    <ul class="second_menu">

                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                    </ul>
                </li>
                <li class=list1>
                    <a href="#">NEWS</a>
                    <ul class="second_menu">

                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                    </ul>
                </li>
                <li class="list1">
                    <a href="#">INSIDE INFORMATION</a>
                    <ul class="second_menu">

                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                    </ul>
                </li>
                <li class="list1">
                    <a href="#">INBOX-US</a>
                    <ul class="second_menu">

                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">HOME</a></li>
                    </ul>
                </li>
            </ul>
        
        
        @RenderBody()
    </div>
</body>
</html>
