
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_masterLayout</title>
    @*<link type="text/css" rel="stylesheet" href="~/Contents/css/login.css" />*@
    @*<link type="text/css" rel="stylesheet" href="~/Contents/css/Signup.css" />*@
    @*<link type="text/css" rel="stylesheet" href="~/Contents/css/announcement.css" />*@

    <link type="text/css" rel="stylesheet" href="~/Contents/css/site.css" />
    @RenderSection("Styles",false)
</head>
<body>
    <header>
        <div class="front">
            Quteba<br /><p> Financial Solutions</p>
        </div>
    </header>

    @RenderBody()


    <footer>
        <h2> Copyright © KUTEBA 2018</h2>
    </footer>

</body>
</html>
