
@{
    ViewBag.Title = "EmployeeId";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}
@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}

@section BodyPart{
    <div id="container2">
<h> EmployeeId</h>
    
                <table border=1>
                    
                    <tr>
                        <th>Amount</th>
                        <th>Date</th>
                        
                    </tr>
                    <tr >
                        <td>100</td>
                        <td>8/22/2018</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>8/22/2018</td>
                    </tr>
                    <tr>
                        <td>100</td>
                        <td>8/22/2018</td>
                    </tr>
                </table>

       </div>
           }

