
@{
 
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}
}
@section BodyPart{
    <div id="container2">


        Finance layout
        </div>
}
