
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}


@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}
@section BodyPart{
    <div id="container2">
    <h2>Set Employ Salary</h2>
    <div class=" salarySet">

        <div class="fieldbox">
            <label>Select Employee:</label>
            <input name="employees" type="text" list="employees"  id="employee" placeholder="select an employee" />
            <datalist id="employees">
                <option>employee 1</option>
                <option>employee 2</option>
                <option>employee 3</option>
            </datalist><br />
        </div>


        <div class="fieldbox">
            <label>Name:</label>
            <input name="name" id="name" type="text" placeholder="Enter  user name" />
            <br />
        </div>
        <div class="fieldbox">
            <label>Picture:</label>
            <input name="picture" type="file" id="picture" />
        </div>



        @*<div class="fieldbox">
            <label>name:</label>
            <input name="name" id="name" type="text" placeholder="Enter  user name" />
            <br />
        </div>*@


        <div class="fieldbox">
            <label>New Salary:</label>
            <input name="new salary" id="Ns" type="number" placeholder="Enter the amount" />
        </div>

        <div>
            <label class="Labels"> Activation Date:  </label>
            <input class="Field" id="dob" type="date" />
        </div>
        @*<div class="fieldbox">
            <label>Activation date:</label>
            <input name="actDate" type="date" id="birthDate" />
        </div>*@


        <br /> <input name="save" type="button" id="save" value="save" /><br />


    </div>

</div>


    }