
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Contents/css/EmployeesList.css" />
@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/Signup.css" />
}
<!--
    <link type="text/css" rel="stylesheet" href="~/Contents/css/bootstrap/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Contents/css/bootstrap/bootstrap.min.css" />
-->
@section BodyPart{
<h2>EmployeesList</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Employee ID</th>
                    <th>Photo</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-success">
                    <td>1</td>
                    <td>Employee 1</td>
                    <td>Atr/7895/02</td>
                    <td><img src="~/Content/Images/wall.jpg" width="200" height="200"></td>
                    <td>present</td>
                </tr>
                <tr classs="text-danger">
                    <td>2</td>
                    <td>Employee 2</td>
                    <td>Atr/7895/02</td>
                    <td><img src="~/Content/Images/50cent.jpg" width="200" height="200"></td>
                    <td>present</td>
                </tr>
                <tr class="text-info">
                    <td>3</td>
                    <td>Employee 3</td>
                    <td>Atr/7895/02</td>
                    <td><img src="~/Content/Images/heart.jpg" width="200" height="200"></td>
                    <td>present</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    }



