
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section initalCSS{
<link type="text/css" rel="stylesheet" href="~/Contents/css/announcement.css" />
    }


@section BodyPart{
<h2>Announcement Index</h2>
    <!-- The Announcement -->
<section>
    <div id="myAnnouncement" class="announcement">

        <!-- Announcement content -->
        <div class="announcement-content">
            <div class="announcement-header">
                <!-- <span class="close">×</span> -->
                <table id="TA">
                    <tr class="items">
                        <td style="border:1px solid black; padding: 5px">Title</td>
                        <td style="border:1px solid black; padding: 5px">Date</td>
                    </tr>
                </table>


            </div>
            <div class="announcement-body">
                <!--  <p>Some text in the Body</p>  -->

                <img id="myImg" src="img_someone.jpg" alt="Someone, country" width="100" height="100">

                <!-- <p>Some other text...</p> -->
            </div>
            <div class="announcement-footer">
                <h3>Text</h3>
            </div>
        </div>

    </div>

</section>
    
    }
