@using Domain
@using BusinessLogic
@model List<Announcemnets>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section initalCSS{
<link type="text/css" rel="stylesheet" href="~/Contents/css/announcement.css" />
    }


@section BodyPart{
    <!-- The Announcement -->
    @{
        foreach (Announcemnets ann in Model)
        {
            <form id="myAnnouncement" class="announcement">

                <!-- Announcement content -->
                <fieldset class="announcement-content">
                    <div class="announcement-header">
                        Title:@ann.Title
                        <nav id="myDate">Date: @ann.VisibleDate</nav>
                    </div>
                    <div class="announcement-body">

                        <img id="myImg" src=@ann.PictureUrl>

                    </div>
                    <div class="announcement-footer">
                        <p>
                            @ann.Text
                        </p>
                    </div>
                </fieldset>

            </form>}

    }












































   



  
