
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section initalCSS{
<link type="text/css" rel="stylesheet" href="~/Contents/css/announcement.css" />
    }


@section BodyPart{
    <!-- The Announcement -->

    <div id="myAnnouncement" class="announcement">

        <!-- Announcement content -->
        <div class="announcement-content">
            <div class="announcement-header">
                <nav>Title</nav>
                <nav id="myDate">Date</nav>
                </div>
            <div class="announcement-body">
                
                <img id="myImg" src="~/Contents/Images/img_someone.jpg" alt="Someone, country" width="400" height="400">
                
               </div>
            <div class="announcement-footer">
                <h3 style="text-align:center">Text</h3>
            </div>
        </div>

    </div>
   
     <div id="myAnnouncement" class="announcement">

    <!-- Announcement content -->
    <div class="announcement-content">
        <div class="announcement-header">
            <nav>Title</nav>
            <nav id="myDate">Date</nav>
        </div>
        <div class="announcement-body">

            <img id="myImg" src="~/Contents/Images/img_someone.jpg" alt="Someone, country" width="400" height="400">

        </div>
        <div class="announcement-footer">
            <h3 style="text-align:center">Text</h3>
        </div>
    </div>

</div>
<div id="myAnnouncement" class="announcement">

    <!-- Announcement content -->
    <div class="announcement-content">
        <div class="announcement-header">
            <nav>Title</nav>
            <nav id="myDate">Date</nav>
        </div>
        <div class="announcement-body">

            <img id="myImg" src="~/Contents/Images/img_someone.jpg" alt="Someone, country" width="400" height="400">

        </div>
        <div class="announcement-footer">
            <h3 style="text-align:center">Text</h3>
        </div>
    </div>

</div>



    }
