
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

@section initalCSS{
<link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}

@section BodyPart{

    <div id="container2">
        <h2>  Edit form</h2>
        <form action="@Url.Action("Edit", "AnnouncementAdmin")" method="post">
            <fieldset class="Edit">
                <div class="fieldbox">
                    <label for="title">Title:</label>
                    <input id="name" Name="Title" type="text"
                           placeholder="Title" required>
                </div> <br />

                <div class="fieldbox">
                    <label for="picture">Picture:</label>
                    <input name="Picture" type="file"
                           placeholder="picture" required>
                </div> <br />


                <div class="fieldbox">
                    <label for="picture">Visible Date:</label>
                    <input id="dob" name="VisibleDate" type="date"
                           placeholder="Visible Date" required>
                </div> <br />


                <div class="fieldbox">
                    <label for="picture">Expire Date:</label>
                    <input id="dob" name="ExpireDate" type="date"
                           placeholder="Expire Date" required>
                </div> <br />

                <div class="fieldbox">

                    <label for="ContentDescription">Description:</label>
                    <input id="Description" name="ContentDescription" type="text"
                           placeholder="Details for describing" required>
                </div> <br />


                <input class="btn" type="submit"  id="edit" value="Edit"/>


            </fieldset>

        </form>

       
    </div>


 }

