
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

@section initalCSS{
<link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}
}
@section BodyPart{
    <div id="container2">
        <h2>  Edit form</h2>
            <fieldset class="Edit">
                <div class="fieldbox">
                    <label for="title">Title:</label>
                    <input id="name" Name="Title" type="text"
                           placeholder="User name" required>
                </div> <br />

                <div class="fieldbox">
                    <label for="picture">Picture:</label>
                    <input  name="Picture" type="file"
                           placeholder="picture" required>
                </div> <br />
                    

                <div class="fieldbox">
                    <label for="picture">Visible Date:</label>
                    <input id="dob" name="VisibleDate" type="date"
                           placeholder="Visible Date" required>
                </div> <br />
                    

                <div class="fieldbox">
                    <label for="picture">Expire Date:</label>
                    <input id="dob" name="ExpireDate" type="date"
                           placeholder="Expire Date" required>
                </div> <br />

                    <div class="fieldbox">

                        <label for="descriptiion">Description:</label>
                        <input id="Description" name="description" type="text"
                               placeholder="Details for describing" required>
                    </div> <br />


                    <button class="btn" id="edit">Edit</button>


</fieldset>



       
    </div>


 }

