
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/Signup.css" />
}
@section BodyPart{
<form class="signupform">
    <fieldset class="fset">
        <div class="one">
            <p>
                <label for="title">Title:</label>
                <input id="username" Name="Title" type="text"
                       placeholder="Title" required>
            </p>

            <p>
                <label for="picture">Poster:</label>
                <input id="password" name="Picture" type="file"
                       placeholder="Poster" required>
            </p>
            <p>
                <label for="picture">Visible Date:</label>
                <input id="VisibleDate" name="VisibleDate" type="date"
                       placeholder="Visible Date" required>
            </p>
            <p>
                <label for="picture">Expire Date:</label>
                <input id="ExpireDate" name="ExpireDate" type="date"
                       placeholder="Expire Date" required>
            </p>
         
            <p>
                <label for="descriptiion">Content:</label>
                <textarea name="Content">

                </textarea>
                
            </p>

        </div>
        <button class="btn" id="Signbutton">ይመዝገቡ</button>


    </fieldset>



</form>

 }

