
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

@section initalCSS{
<link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}
}
@section BodyPart{
<<<<<<< HEAD
    <div id="container2">
        <h2>  Edit form</h2>
            <fieldset class="Edit">
                <div class="fieldbox">
                    <label for="title">Title:</label>
                    <input id="name" Name="Title" type="text"
                           placeholder="User name" required>
                </div> <br />

                <div class="fieldbox">
                    <label for="picture">Picture:</label>
                    <input  name="Picture" type="file"
                           placeholder="picture" required>
                </div> <br />
                    

                <div class="fieldbox">
                    <label for="picture">Visible Date:</label>
                    <input id="dob" name="VisibleDate" type="date"
                           placeholder="Visible Date" required>
                </div> <br />
                    

                <div class="fieldbox">
                    <label for="picture">Expire Date:</label>
                    <input id="dob" name="ExpireDate" type="date"
                           placeholder="Expire Date" required>
                </div> <br />

                    <div class="fieldbox">

                        <label for="descriptiion">Description:</label>
                        <input id="Description" name="description" type="text"
                               placeholder="Details for describing" required>
                    </div> <br />


                    <button class="btn" id="edit">Edit</button>


</fieldset>



       
    </div>
=======
<form class="signupform">
    <fieldset class="fset">
        <div class="one">
            <p>
                <label for="title">Title:</label>
                <input id="username" Name="Title" type="text"
                       placeholder="Title" required>
            </p>

            <p>
                <label for="picture">Poster:</label>
                <input id="password" name="Picture" type="file"
                       placeholder="Poster" required>
            </p>
            <p>
                <label for="picture">Visible Date:</label>
                <input id="VisibleDate" name="VisibleDate" type="date"
                       placeholder="Visible Date" required>
            </p>
            <p>
                <label for="picture">Expire Date:</label>
                <input id="ExpireDate" name="ExpireDate" type="date"
                       placeholder="Expire Date" required>
            </p>
         
            <p>
                <label for="descriptiion">Content:</label>
                <textarea name="Content">

                </textarea>
                
            </p>
            </div>
            </fieldset>
    </form>
>>>>>>> 3e141f502a0255603497aee50c6c51c4469f694a


 }

