<<<<<<< HEAD
<<<<<<< HEAD
﻿
@{
    Layout = null;
}
<!doctype html>
<head>
</head>
<link type="text/css" rel="stylesheet" href="~/Contents/css/anouncemnetList.css" />
<html>
<body>
    <table border="1">
        <tr>
            <th>Number</th>

            <th>Name List</th>

            <th>Amount of save</th>

            <th class="edit">Edit</th>

        </tr>

        <tr>

            <td>1</td>

            <td>Elias kibret</td>

            <td>100 birr</td>
            <td class="edit"><button >Edit</button>
            <button >Delete</button></td>
        </tr>

        <tr>

            <td>2</td>

            <td>Donayam Nega</td>

            <td>500 birr</td>
            <td class="edit"><button>Edit</button>
                <button >Delete</button></td>
        </tr>
        <tr>

            <td>3</td>

            <td>Mahlet </td>

            <td>200 birr</td>
            <td class="edit"><button >Edit</button>
                <button >Delete</button></td>
        </tr>


    </table>
</body>
</html>
=======
﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}

<h2>List</h2>

>>>>>>> 4f59789a335034ea5741a55bddcadc69306c0432
=======
﻿
@{
    Layout = null;
}
<!doctype html>
<head>
</head>
<link type="text/css" rel="stylesheet" href="~/Contents/css/anouncemnetList.css" />
<html>
<body>
    <table border="1">
        <tr>
            <th>Number</th>

            <th>Name List</th>

            <th>Amount of save</th>

            <th class="edit">Edit</th>

        </tr>

        <tr>

            <td>1</td>

            <td>Elias kibret</td>

            <td>100 birr</td>
            <td class="edit"><button >Edit</button>
            <button >Delete</button></td>
        </tr>

        <tr>

            <td>2</td>

            <td>Donayam Nega</td>

            <td>500 birr</td>
            <td class="edit"><button>Edit</button>
                <button >Delete</button></td>
        </tr>
        <tr>

            <td>3</td>

            <td>Mahlet </td>

            <td>200 birr</td>
            <td class="edit"><button >Edit</button>
                <button >Delete</button></td>
        </tr>


    </table>
</body>
</html>


>>>>>>> 9ecb1a2f7c1c048bb05856aacb56efcfb2d11a98
