<<<<<<< HEAD
﻿
=======

>>>>>>> 3e141f502a0255603497aee50c6c51c4469f694a
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LogedInUserLayout.cshtml";
}


@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/AdminForm.css" />
}

@section BodyPart{
    <div id="container2">

            <table border="1">
                <tr>
                    <th>Number</th>

                    <th>Name List</th>

                    <th>Amount of save</th>

                    <th class="edit">Edit</th>

                </tr>

                <tr>

                    <td>1</td>

                    <td>Elias kibret</td>

                    <td>100 birr</td>
                    <td class="edit">
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>

                <tr>

                    <td>2</td>

                    <td>Donayam Nega</td>

                    <td>500 birr</td>
                    <td class="edit">
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                <tr>

                    <td>3</td>

                    <td>Mahlet </td>

                    <td>200 birr</td>
                    <td class="edit">
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>


            </table>
        </div>
       }
<<<<<<< HEAD
       
=======






>>>>>>> 3e141f502a0255603497aee50c6c51c4469f694a
