
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/login.css" />
    <link type="text/css" rel="stylesheet" href="~/Contents/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/Contents/css/bootstrap.min.css" />
    @*@RenderSection("Script",false)*@
    }


@section BodyPart{

<div id="container2">

    <div id="mainbody">

    </div>
    <div class="loginform">
        <form action="~/login/index" method="post">



            Login to your account<hr />
            <br />
            <label>User Name:</label>
            <input id="Username" name="Username" type="text" />
            <br />
            <br />
            <label> Password:  </label>
            <input id="Password" name="Password"  type="password" />
            <br />
            <input id="log" value="Login" type="submit" />
            <br />


        </form>
    </div>
</div>
  
    }