
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/login.css" />
    }


@section BodyPart{
<div class="loginform">
    <form action="~/login/index" method="post">
        
        <div>
            Login to your account<hr />
            <br />
            <label>User Name:</label>
            <input name="Username" id="userName" type="text" />
            <br />
            <br />
            <label> Password:  </label>
            <input name="Password" id="password" type="password" />
            <br />
            <input id="log" value="Login" type="submit" />
            <br />
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
        
    </form>
</div>

    }