
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/login.css" />
    }

   @section  BodyPart{
<div id="container2">

      <div id="slider">
          <ul class="slides">
              <li class="slide" ><img src="~/Contents/Images/img/Quteba-logo.jpg"/></li>
              <li class="slide"><img src="~/Contents/Images/img/1 (2).jpeg"/></li>
              <li class="slide"><img src="~/Contents/Images/img/2.jpeg"/></li>
              <li class="slide"><img src="~/Contents/Images/img/new2.jpeg" /></li>
              <li class="slide"><img src="~/Contents/Images/img/3 .jpg" /></li>
              <li class="slide"><img src="~/Contents/Images/img/cover.2.jpg" /></li>
              <li class="slide"><img src="~/Contents/Images/img/Quteba-logo.jpg" /></li>
          </ul>
      </div>

   
    <div class="loginform">
        <form action="~/login/index" method="post">



            ወደ አካውንቶ ለመግባት<hr />
            <br />
            <label>ስም:</label>
            <input id="Username" name="Username" type="text" />
            <br />
            <br />
            <label> ሚስጥር ቁጥር:  </label>
            <input id="Password" name="Password"  type="password" />
            <br />
            <input id="log" value="መግቢያ" type="submit" />
            <br />
            <div>
                @Html.ValidationSummary()
            </div>

        </form>
    </div>
    <script type="text/javascript" src="~/Contents/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="~/Contents/js/slider.js"></script>
</div>
  
    }