
@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="container">
        <h1 class="logo"><img src="home.gif" id="logo"></h1>
        <h1>ቁጠባ</h1>
        <nav class="navi">
            <input value="Home" id="Home" type="button" />
            <input value="Sign Up" type="button" id="SignUp" />
            <input value="Announcement" type="button" id="Announcement" />
            <input value="About Us" type="button" id="AboutUs" />

        </nav>
    </div>

</header>
<div class="login form">
    <form action="login/index" method="post">
        <label>User Name</label><br />
        <input name="Username" type="text" /><br />
        <label>Password</label><br />
        <input name="Password" type="password" />
        <input value="Log in" id="login" type="submit" />

    </form>

</div>
<footer>
    <h2> Copyright © KUTEBA 2018</h2>
</footer>
