
@{
    ViewBag.Title = "Login";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BodyPart{
<div class="login form">
    <form action="~/login/index" method="post">
        <label>User Name</label><br />
        <input name="Username" type="text" /><br />
        <label>Password</label><br />
        <input name="Password" type="password" />
        <input value="Log in" id="login" type="submit" />

    </form>
</div>

    }