
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section initalCSS{
    <link type="text/css" rel="stylesheet" href="~/Contents/css/Signup.css" />
    }

@section BodyPart{

    <form class="signupform">
        <fieldset class="fset">
            <div class="one">
                <p>
                    <label for="username">ስም:</label>
                    <input id="username" Name="username" type="text"
                           placeholder="User name" required>
                </p>

                <p>
                    <label for="password">ሚስጥር-ቁጥር:</label>
                    <input id="password" name="Password" type="text"
                           placeholder="password" required>
                </p>

                <p>
                    <label for="phone"> ስልክ-ቁጥር</label>
                    <input id="phone" name="phone" type="tel"
                           placeholder="(xxx) xxx-xxx">
                </p>

                <p>
                    <label for="emailaddress">ኢ-ሜል</label>
                    <input id="emailaddress" name="emailaddress" type="email"
                           placeholder="For confirmation only">
                </p>

                <p>
                    <label for="dob"> የትውልድ-ቀን:</label>
                    <input id="dob" name="dob" type="date"
                           placeholder="MM/DD/YYYY">
                </p>

                <p>
                    <label for="Bond">ቦንድ-መጠን:</label>
                    <input id="bond" name="Bond-Amount" type="text"
                           placeholder="Amount" required>
                </p>

                <p>
                    <label for="Saving">የቁጠባ-መጠን:</label>
                    <input id="saving" name="Saving-Amount" type="text"
                           placeholder="Amount" required>
                </p>

            </div>
            <button class="btn" id="Signbutton">ይመዝገቡ</button>


        </fieldset>



    </form>

    }