
.container1 { 
    background-color: #ccccec;
    padding-top:0;
    margin-top:0;
    height:60px;
	width:100%;
	
}
.navi {  background-color: #8dd20e;
    color: black;
}


.navi ul
{
	margin:0;
    height:30px;
}
.navi li{
     display:inline-block;
	-webkit-border-radius:5px;
	 /*float:right;*/
	 list-style:none;
	 text-align:center;
     padding-right:50px;
     margin-left:30px;
      margin-right:30px;
	 font:12px arial verdana;
	 position:relative;
	 height:20px;
}
.navi a{
	text-decoration:none;
	 display:inline-block;
	line-height:25px;
	color:black;
}
.navi li:hover{
background-color:blueviolet;

}


      /*rules for navigation Sub-menu*/
     /* =============================*/
   
.navi #menu li .sub1{
	display:none;
	position:absolute;
	margin:0px;
	padding:0px;
	top:20px;
	clear:both;
	
}
.navi #menu li {
	/*border:2px solid black;*/
    margin-top:3px;
      padding-left:10px;

}

.navi #menu .sub1 a{
	margin-left:8px;
	display:block;
    
    align-content:center;
	color:black;
	
}
.navi #menu  li:hover ul{
	display:block;
    color:black;
}


.Darrow{
	font-size:10px;
	position:absolute;
	top:12px;
	right:4px;
}
