body {
}
.container { 
    background-color: white;
    color: white;
    margin-left:150px;
    float:right;
}
.navi a {  
    background-color:#7ca334;
    color:#363cac;
}
a {
    border:groove;
    border-radius: 25px;
    border-color:white;
}