.loginform {

    background-color:#5f6b47;
    border:groove;
    border-radius:50px;
    color:white;
    font-family:'Comic Sans MS';
    margin-left:450px;
    margin-top:120px;
    align-content:center;
    padding:20px;
    height:250px;
    width:25%;

}

input {
border-radius:10px;
width:150px;

}
#userName {
padding:4px;
margin:5px;
margin-left:5.5px;

}
#password {
padding:4px;
margin:5px;
margin-left:17.5px;

}
hr {
border-color:blanchedalmond;
}

#log {
    margin:25px;
    height:30px;
    color:black;
    float: right;
    font-size: 15px;
    width:80px;
    border-radius: 25px;
    background-color:#363cac;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}

#log:hover {
    background-color:#7ca334; 
    color:black;

}

  