body {
    /*background-image:url('../Images/Screenshot_2018-07-26-09-12-05.jpg');*/
    /*comment*/
}

#logo {
float:left;
}

header {
  height:10%;
  width:100%;
  border:ridge;
  border-bottom-color:aqua;
  background-attachment:scroll;
  background-color:cadetblue;
  background-image:url('../Images/fifty.jpg');
  border-image:url('../Images/border.jpg');
  text-align:center;
  
  font-weight:bolder;
}
.navi {
    float:right;
}

#Home {
color:gold;
background-color:black;
}
#SignUp {
color:gold;
background-color:black;
}

#Announcement {
color:gold;
background-color:black;
}

#AboutUs 
{
color:gold;
background-color:black;
}

.login form {
border:solid;
border-width:20px;
border-color:black;
border-image-width:auto;
border-style:groove;
border-image:url('../Images/border.jpg');
background-image:url('../Images/five_cent.jpg');
/*margin:20px;*/
margin-top:250px;
margin-left:1100px;


border-left-color:black;
border-right-color:yellow;
border-radius:20px;

}

label {
color:black;
font-family:Constantia;
font-style:oblique;
font-weight:bold;
}
footer h2 {
    background-color:black;
    color:gold;
    clear:both;
    margin-bottom:1px;
    text-align:center;

}
.navi input:hover {
background-color:gold;
color:black;
font-weight:bold;


}
#login {
float:right;
margin:20px;
}

