#signupform{
    width:100%;
    background-size:100% 100%;
    background-image:url('../Images/Background.png');
	height:500px;
}
.fset{
	
    background-color:#cbd3d8;
    opacity:1;
    width:480px;
    color:black;
    border-color:#f4f4f53b;
    float:right;
    -webkit-border-radius:10px;
    margin-right:30px;
    margin-top:10px;
	
}
.fset>p{
 font:18px Forte;
 margin-left:150px;
 line-height:0;

}
hr {
border-color:blanchedalmond;

}

.one {
	 display:block;
	 width:480px;
	 float:left;
}
.one p{
	width:auto;
	height:35px;
}

.one p label{
    width: 20%;
    font-size:14px;
    float:left;
	border-bottom :20px;

}


 #employeeID ,#password,#email,#phoneNum,#birthDate,#bond,#initial,#username,#Description {
	width:300px;
	height:25px;
	margin: 0px 2px 0px 0px;
}


.btn{
    background-color:#8dd20e;
    margin-right:0%;
    margin-left:70%;
    margin-bottom:auto;
    width:75px;
    height:25px;
    color:white;
	-webkit-border-radius:25px;

}

