
﻿

.fset {
	background-color:#5f6b47;

	-webkit-border-radius: 25px;
     width:440px;
     height:auto;
	
}
.one {
	 display:block;
	 width:480px;
	 float:left;
}
.one p{
	width:auto;
	height:35px;
}

.one p label{
    width: 20%;
    font-size:14px;
    float:left;
	border-bottom :20px;

}


 #username ,#password,#emailaddress,#phone,#dob,#bond,#saving {
	width:300px;
	height:25px;
	margin: 0px 2px 0px 0px;
}


.btn{
    float: right;
    background-color:#280154;
    margin-right:0%;
    margin-left:70%;
    margin-bottom:auto;
    color:white;
	-webkit-border-radius:25px;

}

