body {
      width:98%;
      height:480px;
      margin:auto;
      background-color:#034b54;
}
header {
    background-color:#7ca334;
    color: white;
    height:110px;
    font-size:50px;
    background-image:url('../Images/quteba.png');
    border:groove;
    margin-bottom:10px;
   background-repeat:no-repeat;

}



.front{
    width:35%;
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    height:50px;
    margin-left:170px;
}

.front p {
    font-size:22px;
    text-align:center;
}
#footer{
	/*height:40px;*/
	margin-top:20px;
	text-align:center;
	font-size:11px;
	background-color:#7ca334;
    clear:both;
}
#footer h2{
    text-align:center;
	font-size:15px;
    margin-left:0;

}
