body {
      display:inline-block;
      width:100%;
      height:1000px;
}
/*.container{
    display:block;
}*/
header {
    background-color:#7ca334;
    color: white;
    width:100%;
    height:110px;
    font-size:50px;
    background-image:url('../Images/quteba.png');
    border:groove;
    margin-bottom:0;
   background-repeat:no-repeat;

}



.front{
    width:35%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:50px;
    margin-left:170px;
}

.front p {
    font-size:25px;
    font-style:italic;
    text-align:center;
}
#footer{
	height:40px;
	margin-bottom:5px;
	text-align:center;
	font:14px Tahoma;
	background-color:#055a36;
    clear:both;
}
